@import "_variables.scss";

.btn {
    font-size: 3rem;
    text-transform: uppercase;
    padding: 1.5rem 4rem;
    width: 60vh;
    height: 5rem;
    border: none;
    background-color: #800020;
    color: #fff;
    border-radius: 10rem;
    position: relative;
    transition: all 1s;
}
  
.btn:hover {
    color: #000000;
    border: #ff7a59 solid 1px;
    background: #808080;
}
